body{
    background-color: #F8F3ED;
    
    padding :0;
    
}
header{
   
    margin-bottom: 5%;
}
.edges{

  display: flex;
  justify-content: space-between;
}
.container{
    
    margin-bottom: 1%;
}

.livreCouverture img{
width: 270px;
height: 370px;
}

.footer{
  display: flex;
  justify-content: space-around;
}
footer {
  display: block;
  margin: 0;
  background-color: #383433;
  width:100%;
  color: white;
  text-align: center;
}
.icone{
  display: inline;
  margin: 5px;
}
.cardIcone{
  display: flex;
}
.contributeurs{
  width: 30%;
  font-size: 15px;
  text-align: left;
  margin-right: 0;
}
.footer h2{
  color:white;
}

h2{
  margin-top: 5%;
  color:black;
 
  font-size: 30px;
  
}
h3{
    margin-left: 5px;
     padding: 5px 10px 5px 10px;
     font-size: 22px;
}
 #currentLivre{
     background-color: #DAAA63;
    
     border-radius: 13px;
 }
 .legende{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 1px;
 }
 .livre{
     
     display: flex;
     justify-content: space-around;
 }
 .livreCouverture img{
  box-shadow: 6px -3px 6px grey;
  
 }
 .auteur{
   border-radius: 20px;
background-color: #DAAA63;
padding: 30px;
margin-top: 50px;
margin-bottom: 50px;
position: relative;
display: inline-block;
text-align: center;
 }

 .auteur img{
   width: 150px;
   height: 150px;
  
   
 }
 .nomAuteur  {
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  text-align: center;
  
  
}
.imgAuteur{
  margin: 0 auto;
  
  position: relative;
  width:160px;
  bottom: 0px;
  
}
 .resume{
  border-radius: 20px;
  padding:  0px 20px 0px 20px;
     font-size: 18px;
     width: 500px;
     height: auto;
     background-color: white
 }
 .resume p{
     padding: 15px;
 }
 .resumeButton{
     display: inline;
 }
 .reserverButton input[type=submit]{
     float: right;
     padding: 9px;
     border-radius: 10px;
     background-color: #002F29;
     color: white;
     font-weight: bold;
     border-style: none;
     margin-bottom: 8px;
 }
 input[type=submit]:hover{
  transform: scale(1.1);
}
 
 .recomendations{
   margin-top: 105px;
   background-color: black;
   padding: 5%;
 }
a{
  text-decoration: none;
  border-radius: 13px;
  color: black;
}
a:hover{
  color:#DAAA63;


}
button{
  float: right;
  padding: 9px;
  border-radius: 10px;
  background-color: #9DB295;
  color: #002F29;
  font-weight: bold;
  border-style: none;
}

 /* ********************************************** */
 /* ****** BOOK ETAGERE 3D */
 /* ************************************************ */
 * {
    box-sizing: border-box;
  }
  .etagere{
    margin-bottom: 150px;;
  }
  
  .shelf {
    position:relative;
    perspective: 300px;
    perspective: 50% 50%;
    margin-top: 12px;
    width:100%;
    height: 6px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    
  }
  
  .front,
  .top,
  .back,
  .left-side,
  .right-side {
    position: absolute;
    opacity:0.2;
  }
  
  .front {
    opacity:0.66;
    background: #EADFCF;
    z-index: 9;
    border: 1px solid rgba(#6c7a4a,0.4);
    width: 100%;
    height: 11px;
    
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4), 0px 7px 18px 1px rgba(0, 0, 0, 0.5), 0 0 0 5px transparent, 0 0 0 5px transparent;
  }
  
  .top {
    opacity:0.9;
    background: #F3E5D0;
    border: 1px solid rgba(#6c7a4a,0.4);
    width: 100%;
    height: 40px;
    transform: rotateX(90deg) translateY(-40px);
    transform-origin: 50% 0;
  }
  
  .back {
    opacity:0.6;
    margin-top: 0;
    border: none;
    width: 100%;
    height: 6px;
    transform: translateZ(-40px);
  }
  .responsiveFooter{
    display: flex;
    justify-content: space-around;
  }
  .left-side {
    opacity:0.4;
    background: #EADFCF;
    border: 2px solid rgba(#8ca06a,0.9);
    width: 40px;
    height: 11px;
    transform: rotateY(90deg) translateZ(0);
    transform-origin: 0 50%;
  }
  
  .right-side {
    opacity:0.4;
    background: #EADFCF;
    border: 2px solid rgba(#8ca06a,0.9);
    
    height: 11px;
    right: 0;
    transform: rotateY(90deg) translateZ(40px);
    transform-origin: 0 50%;
  }
  /* ***************** */
  /* Carte categories recomendation */
  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;
  margin-top: 6%;
  margin-bottom: 5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
   

  }
  .resumeResponsive{
    display: none;
  }
 
  /* PARTIE RESPONSIVE  */
  @media only screen and (max-width: 770px) {
    body {
      background-color: #F8F3ED;
    }
    .livreCouverture img{
      width: 170px;
      height: 250px;
      
      }
      .livre{
        
        display:flex;
        justify-content: space-around;
        width: 100%;
       
    }
    
    .footer{
      display: inline-block;
      
    }
    .responsiveFooter{
      display: flex;
      justify-content: space-between;
      
    }
    
    .auteur{
      background-color: #DAAA63;
      
      font-size: 15px;
      margin: 5px;
      padding: 6px;
      text-align: center;
      margin-bottom: 60px;
      margin-top: 40px;
       }
      
       .resume{
        display: none;
       }
       .resumeResponsive{
        display: block;
      }
      .auteur img{
        width: 70px;
        height: 70px;
       
        
      }
  }