/* input[type=text]{
  width: 100%;
  padding: 10.5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.rechercher{

  padding: 8.5px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 17.5px;
} */
/* a changer  */
body{
  background-color: #F8F3ED !important;
}
.displayCategorie{
  display: none;
}

.logo{
  width: 110px;
  height: 110px;
}
header{
  margin-bottom: 5%;
}

.edges{
display: flex;
justify-content: space-between;
}
.titre{
  font-weight: 600;
  font-size: 36px;
 text-align: left;
 padding: 25px;
}
.baniere{
  margin:0px 6% 10px 6%;
  background-color: pink;
  border-radius: 20px;
  
  text-align: center;
}
.baniere img {
  width:500px;
   height:300px;
   margin: 0;
   justify-content: end;
}

/* ==================================
   ====== barre de recherche  ======= 
   ================================== */
   .center {
    margin: auto;
    width: 65%;
    
    
    }
   .search
   {
     border: none;
     overflow: auto;
     border-radius: 5px;
     
     width: 100%;
     margin: 0px 4px 16px 10% ;
     background-color: none;
   }
   .search-form{
     justify-content:end;
   }
   .search-form input[type="text"]
   {
     font-size: 20px;
     border: 0px;
     height: 65px;
     padding: 10px 10px;
     background-color: white;
     width: 75%;
     
   }
   
   .search-form input[type="text"]:focus
   {
     outline: 0;
   }
   
   .search button[type="submit"]
   {
    
     float: right;
     border: 0px;
     background: none;
     background-color: #DAAA63;
     color: #fff;
     float: right;
     padding: 10px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     width:10%;
     height: 65px;
     margin-right: 15%;
     
           cursor:pointer;
   }

   /*====== profile icon= =====*/
   .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    
    width:37px;
     height:37px;
  }
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    
    width:37px;
     height:37px;
  }
  /* ============ FOOTER ========*/
  .footer{
    display: flex;
    justify-content: space-around;
  }
  
  footer {
    display: block;
    margin: 0;
    background-color: #383433;
    width:100%;
    color: white;
    text-align: center;
  }
  .icone{
    display: inline;
    margin: 5px;
  }
  .cardIcone{
    display: flex;
  }
  .contributeurs{
    width: 30%;
    font-size: 15px;
    text-align: left;
    margin-right: 0;
  }
  .footer h2{
    color:white;
  }
  .responsiveFooter{
    display: flex;
    justify-content: space-around;
  }
  
   /* ================================= RESPONSIVE DU PROJET  ================================= */
   
   @media only screen and (min-width : 150px) and (max-width : 780px)
   {
    .footer{
      display: inline-block;
      
    }
    .responsiveFooter{
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
    }
    
    .baniere img {
      width:300px;
       height:100px;
       margin-top: auto;
    }
    
     .search
     {
       width: 96%;
       margin: 4px 4px 16px 40px ;
       
       
     }
     .search input[type="text"]
   {
    font-size: 15px;
     border: 0px;
     width: 73%;
     padding: 5px ;
   }
   .search button[type="submit"]
   {
    width:12%;
     padding: 5px;
     font-size: 15px;
   }
   .topright {
    top: 7px;
    right:6px;
    
    width:34px;
     height:34px;
   }
    .baniere{
    margin-top: 5px;
    background-color: purple;
    padding: 5px 0px;
    text-align: center;
    
    
  } 
  .titre{
    font-size: 17px;
    font-weight: 500;
    margin-top: 6px;
    float: left;
  }
  .logo{
    width: 60px;
    height: 60px;
    margin:15px;

  }
 
   }