body{
  background-image: url("../images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: #464646; 
}
h1{
  color: #3b0710;
  text-align: center;
}
/* *************** centrer le cadrant des formulaires ***************/
.center {
  margin: auto;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  border: 5px solid #F8F3ED;
  padding: 10px;
  border-radius: 15px;
  background-color: #F8F3ED;

  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
  /* ******** ligne qui sépare les deux fomulaires *****/
  .ligne{
    border-left: solid;
    border-color: #3b0710;

  }
  /* *************** formulaires ***************/
  .formulaireConnexion{
    padding: 20px;
  }
  .formulaireInscription{
    padding: 20px;
  }
  input[type=text], input[type=email]{
    padding: 12px 17px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #DAAA63;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  input[type=submit]:hover {
    background-color: #F1C98F;
    color: #8A6734;
  }
  /* *************** RESPONSIVE ***************/
  @media only screen and (max-width: 780px) {
     body { /* The file size of this background image is 93% smaller to improve page load speed on mobile internet connections */ 
      background-image: url("../images/login.jpg");
     } 
     .formulaireConnexion{
      padding-bottom: 40px;
    }
     input[type=text], input[type=email]{
      padding: 7px 10px;
      margin: 6px 0;
      width: 100%;
     }
     input[type=submit] {
      padding: 7px 10px;
      margin: 6px 0;
     }

     .center {
       display: inline-block;
       height: 70%;
     }
    }