
body{
    background-color: #F8F3ED;
    margin:0;
}
.container {
    /* On ajoute une marge sur les cotés de l’écran */
    padding-right: 15px;
    padding-left: 15px;
    
    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
    }
/***************Style du header***********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top:2.5em;
    background-color: #e4b877;
    color: #F8F3ED;
    padding: 3%;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: black;
}


.boutonDeconnexion{
    border: 0;
    background: transparent;
}
.imgDeconnexion{
    width: 50px;
}
.retour{
    width: 30px;
}
img{
    border-radius: 5%;  
}
/********* TITRES  *************/
h2{
    padding: 1em 0em 0 2em;
    margin: 0;
    color: #383433;
}
h3{
    margin-left: 10em;
}
h4{
    padding-left:9%;
    text-align: left;
    font-size: 37px;
    color: #383433;
}
h6{
    font-size: 23px;
    padding: 0;
    margin: 0;
    color: #e4b877;
}

/* LIVRES RESERVES */
.livreReserver{
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    height:300px;
    width:90%;
    background-color: purple;
    border-radius: 2em;
    border: solid #383433;
}
.livre{
    float: left;
    height: 95%;
    width: 200px;
    background-color: aquamarine;
}
.reference{
    margin-top: 10%;
}

.card{
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px;
    width: 80%;
    
    padding: 20px;
    gap: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    /* 1fr = prend tout la place disponible */
    border: 0;
}
.card-img{
    padding-left: 5%;
    padding-top: 3%;
    box-shadow: -6px -5px rgb(236, 204, 135);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:7%
}
.card-title {
    font-size: 25px; 
    padding-left: 5px;  
    margin:5px;
    padding-bottom: 20px;
}
.card-title p{
    font-size: 21px; 
    padding-left: 5px;  
    margin:5px;
}
/* modalités d'annulation de reservations */
.annulerReservation{
   
   width: 24%;
   margin-left: 4%;
   box-shadow: 6px 5px rgb(236, 204, 135);
  
}
.annulerReservation p{
    margin: 5px;
    margin-top: 20px;
    padding: 0;

}

.annulerReservation a{
     padding: 6px;
    text-decoration: none;
    color: #789270;
}


p{
    display: inline-block;
    margin-right: 5px;
}
/* ==========BAS DE PAGE =========== */
.encre img {
    display: none;
  }
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #383433;
    padding:10px;
    margin: 0;
  }
  footer {
    display: block;
    margin: 0;
    background-color: #383433;
    width:100%;
    color: white;
    text-align: center;
    position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
  }
  .footer img{
    margin: 10px;
  }

/* ============ RESPONSIVE PAGE ===========  */
@media only screen and (min-width : 150px) and (max-width : 600px)
   {
       .annulerReservation{
          box-shadow: none;
          margin: auto;
          padding: 0;
          width: 90%;
          padding: 10px;
       }
       .card{
           display: inline-block;
           background-color: #F3E5D0;
           width: 85%;
           margin: 5%;
           border-radius: 40px;
       }
       .card-title {
        font-size: 19px; 
        padding-left: 5px;  
        margin:5px;
        padding-bottom: 5px;
        
    }
    .card-img{
        margin: auto;
        width: 60%;
        box-shadow: none;
        padding: 10px;
    }
    .card-title p{
        font-size: 17px;
        
    }
   }